/*!
 * style.scss
 * author: Tsukasa Obara
 * url   : http://saucer.jp
 */

@import "global_mixins";
// ********************
// vendor prefix output flag
// ********************
$prefix-webkit:true;
$prefix-moz:true;
$prefix-o:false;
$prefix-ms:false;

// ********************
// placeholder
// ********************
%web-font {
  font-weight:400;
  font-family: 'Share Tech Mono', sans-serif;
}
// ********************
// var
// ********************
$hexSighterWidth: 108px;
$hexSighterMargin: 2px;
$hexSighterMarginBottom: $hexSighterMargin * 11;



// ********************
// style
// ********************
html, body {
  width: 100%;
  height: 100%;
}
html {
  background: #b31231; /* Old browsers */
  background: -moz-linear-gradient(50deg,  #b31231 0%, #f54966 40%, #ff9e4a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#b31231), color-stop(40%,#f54966), color-stop(100%,#ff9e4a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(50deg,  #b31231 0%,#f54966 40%,#ff9e4a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(50deg,  #b31231 0%,#f54966 40%,#ff9e4a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(50deg,  #b31231 0%,#f54966 40%,#ff9e4a 100%); /* IE10+ */
  background: linear-gradient(50deg,  #b31231 0%,#f54966 40%,#ff9e4a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31231', endColorstr='#ff9e4a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body {
  @extend %web-font;
  line-height:1.5;
  font-size: 10px;
  color: rgba( #fff, 0.6 );
  position: relative;
  margin: 0;
}
ul {
  margin:0;
  padding: 0;
}
li {
  list-style:none;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
h1 {
  position: absolute;
  top: -10px;
  left: 0;
  margin: 0;
}
#container {
  position: absolute;
  width: $hexSighterWidth * 8 + $hexSighterMargin * 8 * 2;
  height: $hexSighterWidth * 4 + $hexSighterMargin * 4 * 2 + $hexSighterMarginBottom + 40;
  padding: 50px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#title {
}
.version {
}
#copyright {
  .saucer-web {
    color: rgba( #faff00, 0.7 );
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

.hexSighters {
  & > li {
    box-sizing: border-box;
    float:left;
    width: $hexSighterWidth;
    height: $hexSighterWidth;
    margin: $hexSighterMargin;
    margin-top: $hexSighterMargin;
    margin-bottom: $hexSighterMarginBottom;
    position:relative;
    counter-increment: hexs-count;

    &:after {
      content: '00-' counter( hexs-count );
      position: absolute;
      right: 2px;
      bottom: -14px;
      color: rgba( #fff, 0.4 );
    }
  }
  svg {
    position: relative;
    top: -10px;
    left: -10px;
  }
}
.precisions {
  position:absolute;
  top:3px;
  left:6px;

  li {
    height: 1em;
  }
}
.svg_rect {
  stroke-width: 1px;
  stroke: rgba( 255,255,255,0.5 );
  fill: none;
}
.svg_corner {
  fill: rgba( 255,255,255,0.2 );
}
.svg_tri {
  fill: rgba( 255,255,255,0.6 );
}
.svg_plus {
  fill: rgba( 255,255,255,0.2 );
}
.svg_hex {
  stroke-width: 1px;
  stroke: rgba( 255,255,255,0.2 );
  fill: rgba( 255,255,255,0.15 );
}

#container > div > svg {
  fill: rgba( 255,255,255,0.4 );
}
.svg_container-corner_top-left {
  top: 0;
  left: 0;
  position: absolute;
  display: none;
}
.svg_container-corner_top-right {
  top: 0;
  right: 0;
  position: absolute;
}
.svg_container-corner_bottom-right {
  bottom: 0;
  right: 0;
  position: absolute;
}
.svg_container-corner_bottom-left {
  bottom: 0;
  left: 0;
  position: absolute;

  &:after {
    content: 'p-00-002';
    position: absolute;
    bottom: 6px;
    left: 6px;
  }
}

#log {
  position:absolute;
  top:29px;
  left: 0;
  -webkit-transform: translate3d(0,0,0);
}

