/*!
 * style.scss
 * author: Tsukasa Obara
 * url   : http://saucer.jp
 */
body {
  font-weight: 400;
  font-family: 'Share Tech Mono', sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

html {
  background: #b31231;
  /* Old browsers */
  background: -moz-linear-gradient(50deg, #b31231 0%, #f54966 40%, #ff9e4a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #b31231), color-stop(40%, #f54966), color-stop(100%, #ff9e4a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(50deg, #b31231 0%, #f54966 40%, #ff9e4a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(50deg, #b31231 0%, #f54966 40%, #ff9e4a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(50deg, #b31231 0%, #f54966 40%, #ff9e4a 100%);
  /* IE10+ */
  background: linear-gradient(50deg, #b31231 0%, #f54966 40%, #ff9e4a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b31231', endColorstr='#ff9e4a',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

body {
  line-height: 1.5;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }

#container {
  position: absolute;
  width: 896px;
  height: 510px;
  padding: 50px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#copyright .saucer-web {
  color: #000;
  text-decoration: none; }
  #copyright .saucer-web:hover {
    text-decoration: underline; }

.hexSighters {
  overflow: hidden; }
  .hexSighters > li {
    box-sizing: border-box;
    float: left;
    width: 108px;
    height: 108px;
    margin: 2px;
    margin-top: 2px;
    margin-bottom: 22px;
    position: relative; }
  .hexSighters svg {
    position: relative;
    top: -10px;
    left: -10px; }

.precisions {
  position: absolute;
  top: 5px;
  left: 5px; }

.svg_rect {
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.5);
  fill: none; }

.svg_corner {
  fill: rgba(255, 255, 255, 0.2); }

.svg_tri {
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.3);
  fill: none; }

.svg_plus {
  fill: rgba(255, 255, 255, 0.2); }

.svg_hex {
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.2);
  fill: rgba(255, 255, 255, 0.15); }

#container > div > svg {
  fill: rgba(255, 255, 255, 0.4); }

.svg_container-corner_top-left {
  top: 0;
  left: 0;
  position: absolute; }

.svg_container-corner_top-right {
  top: 0;
  right: 0;
  position: absolute; }

.svg_container-corner_bottom-right {
  bottom: 0;
  right: 0;
  position: absolute; }

.svg_container-corner_bottom-left {
  bottom: 0;
  left: 0;
  position: absolute; }
  .svg_container-corner_bottom-left:after {
    content: 'p-00-002';
    position: absolute;
    bottom: 6px;
    left: 6px; }

#log {
  position: absolute;
  top: 10px;
  left: 10px; }
